<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .main{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 300px;
            font-weight: bold;
            font-size: 30px;
        }
    </style>
</head>
<body>
    
    <div class="main">
        <div>
            <p><strong>
                 صفحه رو اشتباه اومدی اصلا همچین صفحه ای نداریم 
                برو خونتون  
            </strong>
            </p>

        </div>
    </div>
    
</body>
</html>