{% load static %}
<main class="main">
  <!-- Header Image -->
  <div class="header-image">
    <div
      class="js-parallax"
      style="background-image: url(assets/img/image_header.jpg)"
    ></div>
  </div>

  <div class="container gutter-top">
    <!-- Header -->
    <header class="header box">
      <div class="header__left">
        <div class="header__photo">
          <img
            class="header__photo-img"
            src="{% static 'img/main-photo.svg' %}"
            alt="Ronald Robertson"
          />
        </div>
        <div class="header__base-info">
          <h4 class="title titl--h4">{{info.FullName}}</h4>
          <div class="status">{{info.job}}</div>
          <ul class="header__social">
            <li>
              <a href="https://www.facebook.com/"
                ><i class="font-icon icon-facebook1"></i
              ></a>
            </li>
            <li>
              <a href="https://www.twitter.com/"
                ><i class="font-icon icon-twitter1"></i
              ></a>
            </li>
            <li>
              <a href="https://www.instagram.com/"
                ><i class="font-icon icon-instagram1"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="header__right">
        <ul class="header__contact">
          <li><span class="overhead">ایمیل</span>{{info.email}}</li>
          <li><span class="overhead">تلفن</span>{{info.PhoneNumber}}</li>
        </ul>
        <ul class="header__contact">
          <li><span class="overhead">تولد</span>{{info.BirthdayDate}}</li>
          <li><span class="overhead">مکان تولد</span>{{info.BirthdayPlace}}</li>
        </ul>
      </div>
    </header>
  </div>
</main>
